body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', sans-serif;
  list-style: none;
  box-sizing: border-box;
}



.content {
  margin: 60px;

  &-box {
    display: flex;
    justify-content: space-around;
  }

  .inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  .remove {
    height: 14px;
    width: 14px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    z-index: 11;
  
  }

    .search-block {
      img {
        top: 32%;
        left: 12px;
      }

      width: 250px;
      height: 45px;
      font-size: 16px;


      border: 1px solid #F3F3F3;
      box-sizing: border-box;
      border-radius: 10px;

      input {
        border: 0;
        font-size: 16px;
        padding: 13px;
        width: 200px;
        outline: none;
        height: 20px;
        margin-top: 3.5%;
        margin-left: 8%;
      }
    }

    h1 {
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;


    }
  }

  
}

